  <div style="font-family: Open Sans, sans-serif;">
    <div class="container" style="height: 600px;text-align: center;">
      <h2 style="color: #5f63bd;">  upweb.io </h2>
      <div class="card" style="padding: 10px;
      height: 300px;
      width: 400px;margin: 10px auto">
        <h3 style=" text-align: center;
        font-weight: 300;
        color: #5f63bd;">
          Welcome sejal@upweb.io
        </h3>
        <p style="text-align: center;font-weight: 200;font-size: 15px;"> We're delighted to have you on board <br><br> To activate your upweb account, please click the link below within the next 30 days.</p>
        <p style="text-align: center;margin: 0px;"></p>
        <div style="width:400px;text-align: center;padding: 10px;margin-top: 30px;">
          <a style ="background-color: #5f63bd;padding: 10px 50px;border-radius: 3px;color: white;">
            Click
          </a>
        </div>
      </div>
    </div>
  </div>
